body {font-family: Arial;}

h1, h3 {font-family: "Comic Sans MS";}
h3 {color: #00AA86;}

h1 {
    color: #D32F2F;
    margin: 3rem 1rem 6rem 1rem;
}
body {
    background: #ffba00;
    font-family: 'Press Start 2P', monospace;
    text-align: center;
}
main {
    background: white;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    padding: 2rem 0;
}

.artObject {
    max-width: 80%;
    max-height: 20rem;
    margin: 1rem;
}

#gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}